.header {
  padding: rem(55) 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background-color var(--animation-timing) var(--animation-transition);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    max-width: rem(1064);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(rem(1281)) {
      padding: rem(60) rem(60) rem(60) rem(30);
      position: fixed;
      top: 0;
      left: -100%;
      opacity: 0;
      visibility: hidden;
      max-width: 100%;
      height: var(--vh);
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--colors-navy);
      z-index: 1000;
      transform: translateX(-100%);
      transition: opacity var(--animation-timing) var(--animation-transition),
        visibility var(--animation-timing) var(--animation-transition),
        transform var(--animation-timing) var(--animation-transition),
        left var(--animation-timing) var(--animation-transition);

      &.menu--active {
        left: 0;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
}
