<section id="answers" class="answers">

  <picture>
    <source srcset="img/answers/answers-bg.webp" type="image/webp">
    <img loading="lazy" src="img/answers/answers-bg.png" class="answers__bg" width="1920" height="1271" alt="Фон">
  </picture>

  <picture>
    <source srcset="img/answers/answers-mask.webp" type="image/webp">
    <img loading="lazy" src="img/answers/answers-mask.png" class="answers__mask" width="" height="" alt="">
  </picture>

  <div class="container answers__container">
    <h2 class="answers__title">
      Ответы на самые популярные вопросы в сфере
    </h2>

    <div class="answers__accordion">
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger mobile-tap" type="button">Lorem ipsum dolor sit amet consectetur. Ultrices aliquam.
            <svg class="ac-trigger__icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="20" fill="#757AEF" />
              <path
                d="M27.0013 19.161C27.0018 19.3104 26.9688 19.4581 26.9048 19.593C26.8407 19.728 26.7473 19.8469 26.6313 19.941L20.6313 24.771C20.4523 24.9181 20.2279 24.9985 19.9963 24.9985C19.7646 24.9985 19.5402 24.9181 19.3613 24.771L13.3613 19.771C13.157 19.6013 13.0286 19.3574 13.0042 19.093C12.9799 18.8285 13.0615 18.5653 13.2313 18.361C13.401 18.1568 13.6449 18.0284 13.9093 18.004C14.1738 17.9796 14.437 18.0613 14.6413 18.231L20.0013 22.701L25.3613 18.381C25.508 18.2588 25.6868 18.1811 25.8763 18.1572C26.0659 18.1333 26.2583 18.1642 26.4308 18.2463C26.6034 18.3284 26.7488 18.4581 26.8499 18.6202C26.9509 18.7823 27.0035 18.97 27.0013 19.161Z"
                fill="white" />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Like the phrase “stem cell” itself, “stem cell therapy” is often used to describe a variety of different
              medical
              therapies that utilize stem cells in some form to treat a patient. Sometimes the term is used incorrectly to
              refer to
              platelet rich plasma (PRP) injections. The term is also used to refer to stem cell transplants, also known
              as bone
              marrow transplants.
            </p>

            <p>
              Most commonly “stem cell therapy” is used to describe a procedure where the patient’s adult stem cells and
              other
              potentially regenerative cells are harvested from a tissue sample of either fat or bone marrow taken from
              the patient.
              These concentrated regenerative cells are then used to treat specific injuries typically by injecting them
              into the
              afflicted area. It should be said that this type of stem cell therapy is currently not FDA approved and
              clinics
              performing it illegally in the US or in other countries perform various versions of the procedure to treat
              illnesses and
              injuries with little to no clinical evidence.
            </p>

            <p>
              At InGeneron we use the term “regenerative cell therapy” since there are many different cell types and
              regenerative
              properties collected and used by our therapy along with adult stem cells. Importantly we do not treat
              patients outside
              of our approved clinical trials and we are dedicated to securing FDA approval through rigorous clinical
              testing.
            </p>
          </div>
        </div>
      </div>
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger mobile-tap" type="button">Lorem ipsum dolor sit amet consectetur. Ultrices aliquam.
            <svg class="ac-trigger__icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="20" fill="#757AEF" />
              <path
                d="M27.0013 19.161C27.0018 19.3104 26.9688 19.4581 26.9048 19.593C26.8407 19.728 26.7473 19.8469 26.6313 19.941L20.6313 24.771C20.4523 24.9181 20.2279 24.9985 19.9963 24.9985C19.7646 24.9985 19.5402 24.9181 19.3613 24.771L13.3613 19.771C13.157 19.6013 13.0286 19.3574 13.0042 19.093C12.9799 18.8285 13.0615 18.5653 13.2313 18.361C13.401 18.1568 13.6449 18.0284 13.9093 18.004C14.1738 17.9796 14.437 18.0613 14.6413 18.231L20.0013 22.701L25.3613 18.381C25.508 18.2588 25.6868 18.1811 25.8763 18.1572C26.0659 18.1333 26.2583 18.1642 26.4308 18.2463C26.6034 18.3284 26.7488 18.4581 26.8499 18.6202C26.9509 18.7823 27.0035 18.97 27.0013 19.161Z"
                fill="white" />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Like the phrase “stem cell” itself, “stem cell therapy” is often used to describe a variety of different
              medical
              therapies that utilize stem cells in some form to treat a patient. Sometimes the term is used incorrectly to
              refer to
              platelet rich plasma (PRP) injections. The term is also used to refer to stem cell transplants, also known
              as bone
              marrow transplants.
            </p>

            <p>
              Most commonly “stem cell therapy” is used to describe a procedure where the patient’s adult stem cells and
              other
              potentially regenerative cells are harvested from a tissue sample of either fat or bone marrow taken from
              the patient.
              These concentrated regenerative cells are then used to treat specific injuries typically by injecting them
              into the
              afflicted area. It should be said that this type of stem cell therapy is currently not FDA approved and
              clinics
              performing it illegally in the US or in other countries perform various versions of the procedure to treat
              illnesses and
              injuries with little to no clinical evidence.
            </p>

            <p>
              At InGeneron we use the term “regenerative cell therapy” since there are many different cell types and
              regenerative
              properties collected and used by our therapy along with adult stem cells. Importantly we do not treat
              patients outside
              of our approved clinical trials and we are dedicated to securing FDA approval through rigorous clinical
              testing.
            </p>
          </div>
        </div>
      </div>
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger mobile-tap" type="button">Lorem ipsum dolor sit amet consectetur. Ultrices aliquam.
            <svg class="ac-trigger__icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="20" fill="#757AEF" />
              <path
                d="M27.0013 19.161C27.0018 19.3104 26.9688 19.4581 26.9048 19.593C26.8407 19.728 26.7473 19.8469 26.6313 19.941L20.6313 24.771C20.4523 24.9181 20.2279 24.9985 19.9963 24.9985C19.7646 24.9985 19.5402 24.9181 19.3613 24.771L13.3613 19.771C13.157 19.6013 13.0286 19.3574 13.0042 19.093C12.9799 18.8285 13.0615 18.5653 13.2313 18.361C13.401 18.1568 13.6449 18.0284 13.9093 18.004C14.1738 17.9796 14.437 18.0613 14.6413 18.231L20.0013 22.701L25.3613 18.381C25.508 18.2588 25.6868 18.1811 25.8763 18.1572C26.0659 18.1333 26.2583 18.1642 26.4308 18.2463C26.6034 18.3284 26.7488 18.4581 26.8499 18.6202C26.9509 18.7823 27.0035 18.97 27.0013 19.161Z"
                fill="white" />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Like the phrase “stem cell” itself, “stem cell therapy” is often used to describe a variety of different
              medical
              therapies that utilize stem cells in some form to treat a patient. Sometimes the term is used incorrectly to
              refer to
              platelet rich plasma (PRP) injections. The term is also used to refer to stem cell transplants, also known
              as bone
              marrow transplants.
            </p>

            <p>
              Most commonly “stem cell therapy” is used to describe a procedure where the patient’s adult stem cells and
              other
              potentially regenerative cells are harvested from a tissue sample of either fat or bone marrow taken from
              the patient.
              These concentrated regenerative cells are then used to treat specific injuries typically by injecting them
              into the
              afflicted area. It should be said that this type of stem cell therapy is currently not FDA approved and
              clinics
              performing it illegally in the US or in other countries perform various versions of the procedure to treat
              illnesses and
              injuries with little to no clinical evidence.
            </p>

            <p>
              At InGeneron we use the term “regenerative cell therapy” since there are many different cell types and
              regenerative
              properties collected and used by our therapy along with adult stem cells. Importantly we do not treat
              patients outside
              of our approved clinical trials and we are dedicated to securing FDA approval through rigorous clinical
              testing.
            </p>
          </div>
        </div>
      </div>
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger mobile-tap" type="button">Lorem ipsum dolor sit amet consectetur. Ultrices aliquam.
            <svg class="ac-trigger__icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="20" fill="#757AEF" />
              <path
                d="M27.0013 19.161C27.0018 19.3104 26.9688 19.4581 26.9048 19.593C26.8407 19.728 26.7473 19.8469 26.6313 19.941L20.6313 24.771C20.4523 24.9181 20.2279 24.9985 19.9963 24.9985C19.7646 24.9985 19.5402 24.9181 19.3613 24.771L13.3613 19.771C13.157 19.6013 13.0286 19.3574 13.0042 19.093C12.9799 18.8285 13.0615 18.5653 13.2313 18.361C13.401 18.1568 13.6449 18.0284 13.9093 18.004C14.1738 17.9796 14.437 18.0613 14.6413 18.231L20.0013 22.701L25.3613 18.381C25.508 18.2588 25.6868 18.1811 25.8763 18.1572C26.0659 18.1333 26.2583 18.1642 26.4308 18.2463C26.6034 18.3284 26.7488 18.4581 26.8499 18.6202C26.9509 18.7823 27.0035 18.97 27.0013 19.161Z"
                fill="white" />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Like the phrase “stem cell” itself, “stem cell therapy” is often used to describe a variety of different
              medical
              therapies that utilize stem cells in some form to treat a patient. Sometimes the term is used incorrectly to
              refer to
              platelet rich plasma (PRP) injections. The term is also used to refer to stem cell transplants, also known
              as bone
              marrow transplants.
            </p>

            <p>
              Most commonly “stem cell therapy” is used to describe a procedure where the patient’s adult stem cells and
              other
              potentially regenerative cells are harvested from a tissue sample of either fat or bone marrow taken from
              the patient.
              These concentrated regenerative cells are then used to treat specific injuries typically by injecting them
              into the
              afflicted area. It should be said that this type of stem cell therapy is currently not FDA approved and
              clinics
              performing it illegally in the US or in other countries perform various versions of the procedure to treat
              illnesses and
              injuries with little to no clinical evidence.
            </p>

            <p>
              At InGeneron we use the term “regenerative cell therapy” since there are many different cell types and
              regenerative
              properties collected and used by our therapy along with adult stem cells. Importantly we do not treat
              patients outside
              of our approved clinical trials and we are dedicated to securing FDA approval through rigorous clinical
              testing.
            </p>
          </div>
        </div>
      </div>
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger mobile-tap" type="button">Lorem ipsum dolor sit amet consectetur. Ultrices aliquam.
            <svg class="ac-trigger__icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="20" fill="#757AEF" />
              <path
                d="M27.0013 19.161C27.0018 19.3104 26.9688 19.4581 26.9048 19.593C26.8407 19.728 26.7473 19.8469 26.6313 19.941L20.6313 24.771C20.4523 24.9181 20.2279 24.9985 19.9963 24.9985C19.7646 24.9985 19.5402 24.9181 19.3613 24.771L13.3613 19.771C13.157 19.6013 13.0286 19.3574 13.0042 19.093C12.9799 18.8285 13.0615 18.5653 13.2313 18.361C13.401 18.1568 13.6449 18.0284 13.9093 18.004C14.1738 17.9796 14.437 18.0613 14.6413 18.231L20.0013 22.701L25.3613 18.381C25.508 18.2588 25.6868 18.1811 25.8763 18.1572C26.0659 18.1333 26.2583 18.1642 26.4308 18.2463C26.6034 18.3284 26.7488 18.4581 26.8499 18.6202C26.9509 18.7823 27.0035 18.97 27.0013 19.161Z"
                fill="white" />
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Like the phrase “stem cell” itself, “stem cell therapy” is often used to describe a variety of different
              medical
              therapies that utilize stem cells in some form to treat a patient. Sometimes the term is used incorrectly to
              refer to
              platelet rich plasma (PRP) injections. The term is also used to refer to stem cell transplants, also known
              as bone
              marrow transplants.
            </p>

            <p>
              Most commonly “stem cell therapy” is used to describe a procedure where the patient’s adult stem cells and
              other
              potentially regenerative cells are harvested from a tissue sample of either fat or bone marrow taken from
              the patient.
              These concentrated regenerative cells are then used to treat specific injuries typically by injecting them
              into the
              afflicted area. It should be said that this type of stem cell therapy is currently not FDA approved and
              clinics
              performing it illegally in the US or in other countries perform various versions of the procedure to treat
              illnesses and
              injuries with little to no clinical evidence.
            </p>

            <p>
              At InGeneron we use the term “regenerative cell therapy” since there are many different cell types and
              regenerative
              properties collected and used by our therapy along with adult stem cells. Importantly we do not treat
              patients outside
              of our approved clinical trials and we are dedicated to securing FDA approval through rigorous clinical
              testing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
