<section class="benefit">
  <div class="container benefit__container">
    <h2 class="benefit__title">Почему с нами выгодно</h2>
    <p class="benefit__description">
      С 1996 года мы занимаемся оптовыми поставками электронных компонентов от ведущих производителей из Европы
      и Азии для Российских потребителей.
    </p>
    <ul class="benefit__list list-reset">
      <li class="benefit__item">
        <img loading="lazy" src="img/benefit/quality.svg" class="benefit__item-image" width="157" height="163"
          alt="Иконка сертификата">

        <div class="benefit__item-wrapper">
          <h3 class="benefit__item-wrapper-title">Качественная продукция</h3>
          <p class="benefit__item-wrapper-description">Все наши товары сертифицированы и имеют сопроводительную
            документацию.</p>
        </div>

        <img loading="lazy" src="img/benefit/item-bg.svg" class="benefit__item-bg" width="332" height="162" alt="Фон">
      </li>
      <li class="benefit__item">
        <img loading="lazy" src="img/benefit/individual.svg" class="benefit__item-image" width="157" height="163"
          alt="Иконка сертификата">

        <div class="benefit__item-wrapper">
          <h3 class="benefit__item-wrapper-title">Индивидуальный подход</h3>
          <p class="benefit__item-wrapper-description">Возможность изготовления компонентов специально для вас
            на заводах-изготовителя.</p>
        </div>

        <img loading="lazy" src="img/benefit/item-bg.svg" class="benefit__item-bg" width="332" height="162" alt="Фон">
      </li>
      <li class="benefit__item">
        <img loading="lazy" src="img/benefit/free.svg" class="benefit__item-image" width="157" height="163"
          alt="Иконка сертификата">

        <div class="benefit__item-wrapper">
          <h3 class="benefit__item-wrapper-title">Бесплатная доставка</h3>
          <p class="benefit__item-wrapper-description">При наличии товара на складе и заказе от 10 000 рублей,
            доставим бесплатно по Москве и СПБ в течение 2х часов.</p>
        </div>

        <img loading="lazy" src="img/benefit/item-bg.svg" class="benefit__item-bg" width="332" height="162" alt="Фон">
      </li>
      <li class="benefit__item">
        <img loading="lazy" src="img/benefit/analog.svg" class="benefit__item-image" width="157" height="163"
          alt="Иконка сертификата">

        <div class="benefit__item-wrapper">
          <h3 class="benefit__item-wrapper-title">Подбираем аналоги</h3>
          <p class="benefit__item-wrapper-description">Поможем подобрать аналоги популярных европейских брендов
            в условиях санкций.</p>
        </div>

        <img loading="lazy" src="img/benefit/item-bg.svg" class="benefit__item-bg" width="332" height="162" alt="Фон">
      </li>
      <li class="benefit__item">
        <img loading="lazy" src="img/benefit/reserved.svg" class="benefit__item-image" width="157" height="163"
          alt="Иконка сертификата">

        <div class="benefit__item-wrapper">
          <h3 class="benefit__item-wrapper-title">Резервный запас компонентов</h3>
          <p class="benefit__item-wrapper-description">Хранение товара на наших складах для постоянных клиентов.</p>
        </div>

        <img loading="lazy" src="img/benefit/item-bg.svg" class="benefit__item-bg" width="332" height="162" alt="Фон">
      </li>
      <li class="benefit__item">
        <img loading="lazy" src="img/benefit/flexibility.svg" class="benefit__item-image" width="157" height="163"
          alt="Иконка сертификата">

        <div class="benefit__item-wrapper">
          <h3 class="benefit__item-wrapper-title">Гибкая система оплаты</h3>
          <p class="benefit__item-wrapper-description">Отсрочка платежей для постоянных клиентов.</p>
        </div>

        <img loading="lazy" src="img/benefit/item-bg.svg" class="benefit__item-bg" width="332" height="162" alt="Фон">
      </li>
    </ul>
  </div>
</section>
