<div class="wrapper">
  <h2 class="wrapper__title">Закажите <span>обратный звонок</span></h2>

  <form class="wrapper__form form js-form">
    <label class="form__label">
      <span class="form__label-description">Ваше имя*</span>
      <input type="text" name="Имя" class="input-reset form__input input-name" placeholder="Имя" required>
    </label>
    <label class="form__label">
      <span class="form__label-description">Ваш номер*</span>
      <input type="tel" name="phone" class="input-reset form__input input-tel" placeholder="Телефон" required>
    </label>
    <button class="btn-reset form__btn" type="submit">заказать звонок</button>
    <a href="#" class="form__link">
      <img loading="lazy" src="img/hero/lock.svg" class="form__link-image" width="16" height="16" alt="Иконка замка">
      Мы гарантируем конфиденциальность данных
    </a>
  </form>
</div>
