<nav class="nav" title="Навигация по сайту">
  <ul class="list-reset nav__list">
    <li class="nav__item">
      <a href="#benefit" class="nav__link mobile-tap" data-menu-item data-scroll>Каталог</a>
    </li>
    <li class="nav__item">
      <a href="#manufacturer" class="nav__link mobile-tap" data-menu-item data-scroll>Производители</a>
    </li>
    <li class="nav__item">
      <a href="#scheme" class="nav__link mobile-tap" data-menu-item data-scroll>Для кого мы работаем</a>
    </li>
    <li class="nav__item">
      <a href="#scheme" class="nav__link mobile-tap" data-menu-item data-scroll>Сертификаты</a>
    </li>
    <li class="nav__item">
      <a href="#scheme" class="nav__link mobile-tap" data-menu-item data-scroll>О нас</a>
    </li>
    <li class="nav__item nav__item-faq">
      <a href="#answers" class="nav__link mobile-tap" data-menu-item data-scroll>FAQ</a>
    </li>
    <li class="nav__item">
      <a href="#footer" class="nav__link mobile-tap" data-menu-item data-scroll>Контакты</a>
    </li>
  </ul>
</nav>
