<section id="scheme" class="scheme">

  <picture>
    <source srcset="img/scheme/mask.webp" type="image/webp">
    <img loading="lazy" src="img/scheme/mask.png" class="scheme__mask" width="1920" height="1098" alt="Маска секции">
  </picture>

  <div class="container scheme__container">
    <h2 class="scheme__title">Схема работы</h2>
    <p class="scheme__description">
      Lorem ipsum dolor sit amet consectetur. Augue velit in enim sagittis imperdiet sit mauris. Vitae sit in fusce
      massa
      amet.
    </p>

    <ul class="scheme__list list-reset">
      <li class="scheme__item">
        <img loading="lazy" src="img/scheme/mask-item.svg" class="scheme__item-mask" width="442" height="442"
          alt="Маска фона">
        <span class="scheme__item-triangle-top"></span>
        <span class="scheme__item-triangle-right"></span>
        <span class="scheme__item-triangle-bottom"></span>
        <span class="scheme__item-triangle-left"></span>
        <div class="scheme__item-wrapper">
          <p class="scheme__item-wrapper-number">01</p>
          <p class="scheme__item-wrapper-description">Вы оставляете заявку</p>
        </div>
        <p class="scheme__item-definition">
          Отправить запрос вы можете любым удобным для вас способом: например, через форму на сайте. Также вы можете
          связаться с
          нами напрямую.
        </p>
      </li>
      <li class="scheme__item">
        <img loading="lazy" src="img/scheme/mask-item.svg" class="scheme__item-mask" width="442" height="442"
          alt="Маска фона">
        <span class="scheme__item-triangle-top"></span>
        <span class="scheme__item-triangle-right"></span>
        <span class="scheme__item-triangle-bottom"></span>
        <span class="scheme__item-triangle-left"></span>
        <div class="scheme__item-wrapper">
          <p class="scheme__item-wrapper-number">02</p>
          <p class="scheme__item-wrapper-description">Мы проверяем наличие позиций</p>
        </div>
        <p class="scheme__item-definition">
          Проверяем наличие на складе,
          а также актуальность производства (возможна замена, если необходимо.) Если требуется замена - подбираем
          аналоги и
          привозим на заказ.
        </p>
      </li>
      <li class="scheme__item">
        <img loading="lazy" src="img/scheme/mask-item.svg" class="scheme__item-mask" width="442" height="442"
          alt="Маска фона">
        <span class="scheme__item-triangle-top"></span>
        <span class="scheme__item-triangle-right"></span>
        <span class="scheme__item-triangle-bottom"></span>
        <span class="scheme__item-triangle-left"></span>
        <div class="scheme__item-wrapper">
          <p class="scheme__item-wrapper-number">03</p>
          <p class="scheme__item-wrapper-description">Формируем коммерческое предложение</p>
        </div>
        <p class="scheme__item-definition">
          На данном этапе мы с вами согласуем ценовое предложение, обговариваем сроки поставки и условия оплаты.
        </p>
      </li>
      <li class="scheme__item">
        <img loading="lazy" src="img/scheme/mask-item.svg" class="scheme__item-mask" width="442" height="442"
          alt="Маска фона">
        <span class="scheme__item-triangle-top"></span>
        <span class="scheme__item-triangle-right"></span>
        <span class="scheme__item-triangle-bottom"></span>
        <span class="scheme__item-triangle-left"></span>
        <div class="scheme__item-wrapper">
          <p class="scheme__item-wrapper-number">04</p>
          <p class="scheme__item-wrapper-description">Проводим оплату</p>
        </div>
        <p class="scheme__item-definition">
          Далее, после получения авансового платежа, мы размещаем заказ.
        </p>
      </li>
      <li class="scheme__item">
        <img loading="lazy" src="img/scheme/mask-item.svg" class="scheme__item-mask" width="442" height="442"
          alt="Маска фона">
        <span class="scheme__item-triangle-top"></span>
        <span class="scheme__item-triangle-right"></span>
        <span class="scheme__item-triangle-bottom"></span>
        <span class="scheme__item-triangle-left"></span>
        <div class="scheme__item-wrapper">
          <p class="scheme__item-wrapper-number">05</p>
          <p class="scheme__item-wrapper-description">Мы выполняем заказ</p>
        </div>
        <p class="scheme__item-definition">
          Товар поступает на склад в Москву или Санкт-Петербург, где мы сверяем правильность поставки и начинаем сборку.
        </p>
      </li>
      <li class="scheme__item">
        <img loading="lazy" src="img/scheme/mask-item.svg" class="scheme__item-mask" width="442" height="442"
          alt="Маска фона">
        <span class="scheme__item-triangle-top"></span>
        <span class="scheme__item-triangle-right"></span>
        <span class="scheme__item-triangle-bottom"></span>
        <span class="scheme__item-triangle-left"></span>
        <div class="scheme__item-wrapper">
          <p class="scheme__item-wrapper-number">06</p>
          <p class="scheme__item-wrapper-description">Вы получаете товар</p>
        </div>
        <p class="scheme__item-definition">
          Поставляем вам товар в надлежащей упаковке в сопровождении оригиналов всех необходимых документов либо вы
          забираете
          его
          самовывозом.
        </p>
      </li>
    </ul>

    <button class="scheme__button btn-reset mobile-tap" type="button" data-fancybox data-src="#dialog-content">
      Оставить заявку
    </button>
  </div>
</section>
