@font-face {
  font-family: 'FuturaLightC';
  src: url('../fonts/FuturaLightC/FuturaLightC.woff2') format('woff2'),
    url('../fonts/FuturaLightC/FuturaLightC.woff') format('woff'),
    url('../fonts/FuturaLightC/FuturaLightC.ttf') format('ttf'),
    url('../fonts/FuturaLightC/FuturaLightC.eot') format('eot');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaFuturisC';
  src: url('../fonts/FuturaFuturisC-Regular/FuturaFuturisC.woff2') format('woff2'),
    url('../fonts/FuturaFuturisC-Regular/FuturaFuturisC.woff') format('woff'),
    url('../fonts/FuturaFuturisC-Regular/FuturaFuturisC.ttf') format('ttf'),
    url('../fonts/FuturaFuturisC-Regular/FuturaFuturisC.eot') format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaFuturisC';
  src: url('../fonts/FuturaFuturisC-Bold/FuturaFuturisC-Bold.woff2') format('woff2'),
    url('../fonts/FuturaFuturisC-Bold/FuturaFuturisC-Bold.woff') format('woff'),
    url('../fonts/FuturaFuturisC-Bold/FuturaFuturisC-Bold.ttf') format('ttf'),
    url('../fonts/FuturaFuturisC-Bold/FuturaFuturisC-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('../fonts/FuturaBookC/futurabookc.woff2') format('woff2'),
    url('../fonts/FuturaBookC/futurabookc.woff') format('woff'),
    url('../fonts/FuturaBookC/futurabookc.ttf') format('ttf'),
    url('../fonts/FuturaBookC/futurabookc.eot') format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('../fonts/FuturaDemiC/futurademic.woff2') format('woff2'),
    url('../fonts/FuturaDemiC/futurademic.woff') format('woff'),
    url('../fonts/FuturaDemiC/futurademic.ttf') format('ttf'),
    url('../fonts/FuturaDemiC/futurademic.eot') format('eot');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

